<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Início - EIV System</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
  <h1>Sistema EIV</h1>
  
  <div class="main-actions">
    <a href="/cadastro" class="btn-main">Cadastrar Empreendimento</a>
    <a href="/consulta" class="btn-main">Consultar Empreendimentos</a>
  </div>
  
</body>
</html>
